@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

#nav .link-container {
  padding: 12px;
}

#nav .link-container:hover {
  background-color: white;
}

#nav .link-container:hover a {
  color: rgb(3, 41, 145);
  border-color:rgb(3, 41, 145);
}

#nav .link-container a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px;
}


#nav a.active {
  border-bottom: 1px solid white;
}

#nav {
  background-color: rgb(3, 41, 145);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}
