body,
html,
#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  font-family: Assistant;
  overflow-x: hidden;
}

* {
  font-family: 'Public Sans', sans-serif !important;
}

a {
  text-decoration: none;
}
.MuiOutlinedInput-notchedOutline {
  border: none;
}
.MuiInputBase-inputMultiline {
  padding: 0.5rem !important;
}
